header{
    background-color: rgb(244, 174, 227);
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

body{
    margin: 0%;
}

main{
    text-align: center;
}

.i{
    display: block;
    text-align: center;
}

input{
    margin: 10px;
}

button{
    padding: 5px;
    margin: 10px;
}